.gridContainer {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 95%;
  height: 625px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  border: 2px solid lightpink;
  height: 40rem;
  width: 40rem;
  padding: 10px;
}

.col {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid black;
  box-sizing: border-box;
}

#clearBtn {
}

#buttons {
  font-size: large;
  width: 80px;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}